.jumbotron
{
    background-color: blue;
    color: whitesmoke;
}

.carousel-caption
{
    color: antiquewhite;
    /* background-color: rgba(0, 0, 0, 0.2); */
    border-radius: 50px;
}

.carousel-caption p 
{
    color: antiquewhite;
}

footer
{
    text-align: center;
    padding: 3px;
    background-color: greenyellow;
    color: white;
}

.btn
{
    padding: 5px;
    height: 40px;
}

p, footer a
{
    color: black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.oi-star
{
    color: gold;
}

.card-hotel
{
    flex: 1 200px !important;
    margin-top: 10px;
    padding-left: 10px;
}

.btn-info, .btn-outline-info
{
    width: 100%;
    border-radius: 25px;
}

