.jumbotron {
  background-color: #380780;
  color: #ee0009;
  margin-top: 50px;
  margin-bottom: 0px; }

.carousel-caption {
  color: #ee0009;
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-radius: 50px; }

.carousel-caption p {
  color: #ff0000; }

footer {
  text-align: center;
  padding: 3px;
  background-color: greenyellow;
  color: #ff0000;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn {
  padding: 5px;
  height: 40px; }

p, footer a {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center; }

.oi-star {
  color: gold; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px; }

.btn-info, .btn-outline-info {
  width: 100%;
  border-radius: 25px; }
