$yellow: #d0ff00;
$blue: #6600ff;
$red: #ff0000; 

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron
{
    background-color: $blue;
    color: $whitesmoke;
    @include margenes(50px, 0px);
}

.carousel-caption
{
    color: $whitesmoke;
    /* background-color: rgba(0, 0, 0, 0.2); */
    border-radius: 50px;
}

.carousel-caption p 
{
    color: $red;
}

footer
{
    text-align: center;
    padding: 3px;
    background-color: greenyellow;
    color: $red;
    @include margenes(10px, 0px);
}

.btn
{
    padding: 5px;
    height: 40px;
}

p, footer a
{
    color: black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.oi-star
{
    color: gold;
}

.card-hotel
{
    flex: 1 200px;
    @include margenes(10px, 0px);
    margin-left: 5px;
    margin-right: 5px;
}

.btn-info, .btn-outline-info
{
    width: 100%;
    border-radius: 25px;
}